{
  "project":
  { 
    "name": "Entwicklung eines Lua-Sprachsystems",
    "description": "Softwareprojekt bei dem ein Lua-Sprachsystem in Java entwickelt werden soll.",
    "links":
    [
      "Projekttagebuch: https://swptagebuch.fh-wedel.de/tagebuch/login",
      "Stefan Ahrens: http://www.fh-wedel.de/mitarbeiter/ars/softwareprojekt-praktikum/",
      "Uwe Schmidt: http://www.fh-wedel.de/~si/praktika/SoftwarePraktikum/index.html"
    ],
    "subprojects":
    [
      { 
        "name": "Codeerzeugung / Semantische Analyse",
        "description": "Erhält den abstrakten Syntaxbaum der lexikalischen / syntaktischen Analyse und wandelt ihn in eine Liste von Instruktionen.",
        "groups": [ "swp04", "swp05" ]
      }, 
      { 
        "name": "Lexikalische / Syntaktische Analyse",
        "description": "Parst den übergebenen Lua-Programmcode und wandelt ihn schließlich in einen abstrakten Syntaxbaum um.",
        "groups": [ "swp02", "swp03" ]
      },
      { 
        "name": "Laufzeitsystem / Shell",
        "description": "Versorgt die VM mit allen nötigen System-Funktionen.",
        "groups": [ "swp08", "swp09" ]
      },
      { 
        "name": "Virtuelle Maschine",
        "description": "Erhält die Liste an Instruktionen der Codeerzeugung / semantischen Analyse und arbeitet diese ab.",
        "groups": [ "swp06", "swp07" ]
      },
      { 
        "name": "Schnittstellen, Prototypen, Koordination",
        "description": "Gewährleistet das funktionale Zusammenspiel der Teilprogramme.",
        "groups": [ "swp01" ]
      }
    ]
  },
  
  "users":
  [
    {
      "student_id": "minf1111",
      "lastname": "test1",
      "firstname": "test1"
    },
    {
      "student_id": "inf2222",
      "lastname": "test2",
      "firstname": "test2"
    },
    {
      "student_id": "inf3333",
      "lastname": "test3",
      "firstname": "test3"
    },
    {
      "student_id": "inf4444",
      "lastname": "test4",
      "firstname": "test4"
    },
    {
      "student_id": "inf5555",
      "lastname": "test5",
      "firstname": "test5"
    },
    {
      "student_id": "inf6666",
      "lastname": "test6",
      "firstname": "test6"
    },
    {
      "student_id": "minf7777",
      "lastname": "test7",
      "firstname": "test7"
    },
    {
      "student_id": "inf8888",
      "lastname": "test8",
      "firstname": "test8"
    },
    {
      "student_id": "inf9999",
      "lastname": "test9",
      "firstname": "test9"
    },
    {
      "student_id": "inf1010",
      "lastname": "test",
      "firstname": "10"
    },
    {
      "student_id": "inf11",
      "lastname": "test",
      "firstname": "11"
    },
    {
      "student_id": "inf1212",
      "lastname": "test",
      "firstname": "12"
    }
  ],

  "groups":
  [
    {
      "name": "swp01",
      "users": ["minf1111", "inf2222"],
      "type": "coordinator"
    },
    {
      "name": "swp02",
      "users": ["inf3333"],
      "type": "developer"
    },
    {
      "name": "swp03",
      "users": ["inf4444", "inf5555", "inf6666"],
      "type": "developer"
    },
    {
      "name": "swp04",
      "users": ["inf6666"],
      "type": "developer"
    },
    {
      "name": "swp05",
      "users": ["inf6666"],
      "type": "developer"
    },
    {
      "name": "swp06",
      "users": ["inf6666"],
      "type": "developer"
    },
    {
      "name": "swp07",
      "users": ["inf6666"],
      "type": "developer"
    },
    {
      "name": "swp08",
      "users": ["inf6666"],
      "type": "developer"
    },
    {
      "name": "swp09",
      "users": ["inf6666"],
      "type": "developer"
    }
  ]
}
